@import "couleurs";

#body {
    background-color: $green_dark;
}

@mixin dimension-container {
    width: 1296px;
    height: 714px;
    border-radius: 10px;
}

#container {
    background-color: $white;
    @include dimension-container;
}

@mixin dimension-imgae {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
}

#image{
    @include dimension-imgae;
}
