.password {
    background: black;
    border-radius: 10px;
    width: 350px;
    height: 75px;
    position: relative;
    box-shadow: 0 0 12px 0px rgba(1, 1, 1, 0.25);
}

.password-background {
    background: white;
    position: absolute;
    width: 150%;
    height: 100%;
    border-radius: 5px;
    top: 0;
    right: -50%;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
}

.password-toggle {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.toggle-eye {
    position: absolute;
    top: 27px;
    right: 27px;
    font-size: 22px;
}

.toggle-eye.close {
    transition: 0.4s all ease-in-out;
}

.toggle-eye.open {
    transition: 0.4s all ease-out;
}

.password-input {
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    background: none;
    border: none;
    font-size: 18px;
    color: red;
    outline: none;
    letter-spacing: 2px;
    transition: all 0.5%;
    -webkit-text-security: none;
}

.password-toggle:checked ~ .password-background{
    width: 50px;
    height: 50px;
    top: 12.5px;
    right: 12.5px;
    border-radius: 50%;
}